name: Trunk Upgrade

on:
  schedule:
    # On the first day of every month @ 8am
    - cron: 0 8 1 * *
  workflow_dispatch: {}

permissions: read-all

jobs:
  trunk-upgrade:
    runs-on: ubuntu-latest
    permissions:
      # For trunk to create PRs
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Run Trunk Upgrade
        uses: masterpointio/github-action-trunk-upgrade@fix/admin-permissions
        with:
          app-id: ${{ secrets.MP_BOT_APP_ID }}
          app-private-key: ${{ secrets.MP_BOT_APP_PRIVATE_KEY }}
          github-token: ${{ secrets.MASTERPOINT_TEAM_PAT }}
          reviewers: "@masterpointio/masterpoint-open-source"
